* linguist-vendored
Slicing/index.html linguist-vendored=false
Slicing/css/style.css linguist-vendored=false
OLEA-All-Suite-Hotel/index.html linguist-vendored=false
OLEA-All-Suite-Hotel/css/style.css linguist-vendored=false
Olea-All-Suite-Hotel/js/script.js linguist-vendored=false

